* {
    color: white;
}
.header {
    position: sticky;
    top: 0;
}
#navbarDropdown {
    color: white;
}
.navbar-brand {
    margin-left: 5%;
}
.me{
    margin-top: 100px;
    height: 500px;
    width: 100%;
    background-color: #343434;
}
.job {
    margin-top: 100px;
    height: 500px;
    width: 100%;
    background-color: #343434;
}
.projects {
    margin-top: 100px;
    height: 500px;
    width: 100%;
    background-color: #343434;
}
.contacts {
    margin-top: 100px;
    height: 500px;
    width: 100%;
    background-color: #343434;

}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #222;
}
.text-muted {
    text-align: center;
    position: relative;
    margin-top: 7px;
}